<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEI</title>
    <link rel="stylesheet" href="style2.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="menu.js"></script>
</head>

<body>
    <div id="container">
        <header>
            <div class="navWrap">
                <div class="navLeft">
                    <a href= "/"><img src="images/logo2.jpg" alt=""></a>
                </div>
                <div class="navCenter">
                    <ul>
                        <li><a href="#">광고 찾기</a></li>
                        <li><a href="#">기업 찾기</a></li>
                        
                        <li><a href="#">GM</a></li>
                        <li><a href="#">IM</a></li>
                        <li><a href="#">고객센터</a></li>
                        <li class="more">더보기</li>
                    </ul>
                </div>
                <span class="target"></span>
                {% if user and user.id %}
                <div class="navRight">
                    <ul>
                        <li><a class="user-name">{'환영합니다 ' + user.nick + '님'}</a></li>
                        <li>|</li>
                        <li><a id="logout" href="/auth/logout" class="btn">로그아웃</a></a></li>
                        <li><a href="#" class="free">광고 하러가기</a></li>
                    </ul>
                </div>
                {% else %} 
                <span class="target"></span>
                <div class="navRight">
                    <ul>
                        <li><a href="/userEnter">로그인</a></li>
                        <li>|</li>
                        <li><a href="/userEnter">회원가입</a></a></li>
                        <li><a href="#" class="free">광고 하러가기</a></li>
                        <li><a id="logout" href="/auth/logout" class="btn">로그아웃</a></li>
                    </ul>
                </div>
                {% endif %} 
            </div>
        </header>
        <div class="subNav">
            <div class="subNavWrap">
                <div class="subNavFirst">
                    <ul>
                        <p>BEI 키워드</p>
                        <li><a href="#">BEI 사용법</a></li>
                        <li><a href="#">GM이란?</a></li>
                        <li><a href="#">IM이란?</a></li>
                        <li><a href="#">서비스 신청</a></li>
                    </ul>
                </div>
                <div class="subNavSecond">
                    <ul>
                        <p>제공 서비스</p>
                        <div class="subNavSecondIcons">
                            <li><a href="#">기업 컨택</a></li>
                            <li><a href="#">핵심 키워딩</a></li>
                            <li><a href="#">컨설팅</a></li>
                            <li><a href="#">매칭서비스</a></li>
                            <li><a href="#">BEI 파트너십</a></li>
                            <li><a href="#">기타</a></li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        {% block content %}
        {% endblock %}
 
        <footer>
            <div class="footerTop">
                <div class="footerContent footerContentTop">
                    <div class="FooterTopWords">
                        <ul>
                            <li>BEI 스토리</li>
                            <li>이용약관</li>
                            <li><span class="bold">개인정보취급방침</span></li>
                            <li>자주 찾는 질문</li>
                        </ul>
                    </div>
                    <div class="FooterTopIcons">
                        <a href="#" target="_blank">
                            <img src="https://www.freemoa.net/public/images/dgm/fb_icon.png" alt="페이스북">
                        </a>
                        <a href="#" target="_blank">
                            <img src="https://www.freemoa.net/public/images/dgm/naverpost_icon.png" alt="네이버 포스트">
                        </a>
                        <a href="#" target="_blank">
                            <img src="https://www.freemoa.net/public/images/dgm/naverblog_icon.png" alt="네이버 블로그">
                        </a>
                        <a href="#" target="_blank">
                            <img src="https://www.freemoa.net/public/images/dgm/kt_icon.png" alt="카카오톡 채널">
                        </a>
                        <a href="#" target="_blank">
                            <img src="https://www.freemoa.net/public/images/dgm/yt_icon.png" alt="유튜브">
                        </a>
                    </div>
                </div>
            </div>
            <div class="footerBottom">
                <div class="footerContent">
                    <div class="footerBottomWords">
                        <h1>고객센터 : 010-5004-8089</h1>
                        <p>평일(공휴일 휴무) 10:00 - 19:00</p>
                    </div>
                    <div class="footerBottomWords">
                        <p class="noBorder">대표 : 강민수</p>
                        <!-- <p>CFO : 주지웅</p> -->
                        <p>사업자등록번호 : 111-111-1111</p>
                        <p>서울특별시 성동구 송정동 154-34</p>
                    </div>
                    <div class="footerBottomWords">
                        <p class="noBorder">Copyright 2022 BEI Inc., All rights reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
        {% block script %}
        {% endblock %}
        <script src="scrollResult.js"></script>
        <script src="icon.js"></script>
</body>

</html>