{% extends 'layout.html' %}
{% block content %}
  <body>
    <a><br><br><br><br><br><br><br></a>
    <div class="main">
    <div class="container">
      <div class="profile-wrap">
        <div class="profile">
          <form id="login-form" action="/auth/login" method="post">
            <div class="input-group">
              <label for="email">이메일</label>
              <input id="email" type="email" name="email" required autofocus>
            </div>
            <div class="input-group">
              <label for="password">비밀번호</label>
              <input id="password" type="password" name="password" required>
            </div>
            <button id="login" type="submit" class="btn">로그인</button>
            <a id="kakao" href="/auth/kakao" class="btn">카카오톡</a>
          </form>
        </div>
        <footer>
        </footer>
    </div>
      <div class="timeline">
        <a id = "join" href="/join">회원가입하기</a> 
      </div>
    </div>
  </div>
{% endblock %}


{% block script %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      window.onload = () => {
        if (new URL(location.href).searchParams.get('loginError')) {
          alert(new URL(location.href).searchParams.get('loginError'));
        }
      };
    </script>
    <script>
    window.onload = () => {
      if (new URL(location.href).searchParams.get('error')) {
        alert('이미 존재하는 이메일입니다.');
      }
    };
    </script>
  </body>
{% endblock %}